# CME 193 - Lecture 6 - Pandas

1. HW 1 is done! Congrats!
  - Two free late days (official due at 11:30am on Fri)
2. HW 2 is Coming Today 
  - Very basic ML algorithm implementation
  - Need to wait on Q3 potentially

# Basic Section (Start)

## Pandas

[Pandas](https://pandas.pydata.org/) is a Python library for dealing with tabular data.  The main thing you'll hear people talk about is the DataFrame object (inspired by R), which is designed to hold tabular data.

## Difference between a DataFrame and NumPy Array

Pandas DataFrames and NumPy arrays both have similarities to Python lists.  
* Numpy arrays are designed to contain data of one type (e.g. Int, Float, ...)
* DataFrames can contain different types of data (Int, Float, String, ...)
    * Usually each column has the same type
    
    
Both arrays and DataFrames are optimized for storage/performance beyond Python lists

Pandas is also powerful for working with missing data, working with time series data, for reading and writing your data, for reshaping, grouping, merging your data, ...

## Key Features

* File I/O - integrations with multiple file formats
* Working with missing data (.dropna(), pd.isnull())
* Normal table operations: merging and joining, groupby functionality, reshaping via stack, and pivot_tables,
* Time series-specific functionality:
    * date range generation and frequency conversion, moving window statistics/regressions, date shifting and lagging, etc.
* Built in Matplotlib integration

## Other Strengths

* Strong community, support, and documentation
* Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects
* Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
* Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects Intelligent label-based slicing, fancy indexing, and subsetting of large data sets

## Python/Pandas vs. R

* R is a language dedicated to statistics. Python is a general-purpose language with statistics modules.
* R has more statistical analysis features than Python, and specialized syntaxes.

However, when it comes to building complex analysis pipelines that mix statistics with e.g. image analysis, text mining, or control of a physical experiment, the richness of Python is an invaluable asset.

## Getting Started

[Here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) is a link to the documentation for DataFrames

In [ ]:
import pandas as pd
import numpy as np

## Objects and Basic Creation

| Name | Dimensions | Description  |
| ------:| -----------:|----------|
| ```pd.Series``` | 1 | 1D labeled homogeneously-typed array |
| ```pd.DataFrame```  | 2| General 2D labeled, size-mutable tabular structure |

# Series
## What are they?
- Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.
- Basic method to create a series:
```s = pd.Series(data, index = index) ```
- Data Can be many things:
    * An ndarray (or regular Python list)
    * A Python Dictionary
    * A scalar
- The passed index is a list of axis labels (which varies on what data is)

Think "Series = Vector + labels"

In [ ]:
first_series = pd.Series([1,2,3,8,16,32,64])
print(type(first_series))
print(first_series)

In [ ]:
first_series[2]

In [ ]:
second_series = pd.Series([1,2,3,8,16,32,64],  index=[2,1,0,3,4,5,6])
print(type(second_series))
print(second_series)

In [ ]:
second_series[2] #indexing by label

In [ ]:
second_series.iloc[2] #indexing by position

In [ ]:
endstring = '\n'+'-'*50+'\n'
print('halloween', end = endstring)

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'a', 'c', 'd', 'e'])
print(s, end = endstring)
print(s.index, end = endstring)
s['a']

In [ ]:
s['e']

In [ ]:
s.iloc[4]

If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the corresponding keys of the dict

In [ ]:
d = {'a': [0., 0], 2: 2., 'b': {'1':1.}}
pd.Series(d)

You can create a series from a scalar, but need to specify indices

In [ ]:
pd.Series(5, index = np.arange(7))

You can slice series like you would numpy arrays/python lists

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

#### slicing

In [ ]:
end_string = '\n' + '-'*50 + '\n'

# slicing
print(s.iloc[:3], end = end_string)

#alternate slicing, unlike all other slicing, including end. #.loc is equivalent to []
print(s['a':'c'], end = end_string)

#### conditional indexing

In [ ]:
# conditional indexing
s > 0

In [ ]:
end_string

In [ ]:
# conditional indexing - index with booleans
print(s[s > 0], end = end_string)

In [ ]:
# elementwise function - vectorization
print(np.exp(s), end = end_string)

### Series Attributes:

- Get the index :
```python
s.index ```
- Get the values :
``` python
s.values ```
- Find the shape :``` python s.shape ```

### Series Iteration

In [ ]:
for data_pair in s.items():
    idx, val = data_pair #(idx, val)
    print(idx, " -> ", val)
    print("-"*25)

Sort by index or by value

In [ ]:
print(s.sort_index(), end = end_string)

print(s.sort_values(), end = end_string)

Find counts of unique values

In [ ]:
s = pd.Series([0,0,0,1,1,1,2,2,2,2])
sct = s.value_counts()
print(s, end = end_string)
print(sct)

In [ ]:
# Small Hack for Counter
from collections import Counter
Counter([0,0,0,1,1,1,2,2,2,2,3,2,3,3,3,])

You can do just about anything you can do with a numpy array

- Series.mean()
- Series.median()
- Series.mode()
- Series.nsmallest(num)
- Series.max ...

In [ ]:
s

In [ ]:
print(s.min(),end = end_string)
print(s.max(), end = end_string)

## Exercise (post-lecture)

- Consider the series `s` of letters in a sentence.
- What is count of each alphabetical letter in the sentence, output a series which is sorted by the count
- Create a list with only the top 5 common letters (not including space)  

HINT:   
1. `s.str.isalpha()` to check if a pd.series data is alphabetical  
2. `s.sort_values(ascending = False)` to sort value from largest to smallest

In [ ]:
s=pd.Series(list("Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the indexeeeeeee."))

In [ ]:
# YOUR CODE HERE

# Basic Section (End)

# DataFrame
- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.
- You can create a DataFrame from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - Another Dataframe
``` python
df = pd.DataFrame(data, index = index, columns = columns)
```
- ```index```/ ``` columns ``` is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df.
- If you do not pass anything in, the input will be constructed by "common sense" rules

[**pandas.DataFrame**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

# DataFrame Creation From dict of series or dicts
- The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be first converted to Series.
- If no columns are passed, the columns will be the sorted list of dict keys.

In [ ]:
# Create a dictionary of series
# Columns are dictionary keys, indices and values obtained from series
a_series = pd.Series([1,2,3], index  = ['a', 'bb', 'c'])
b_series = pd.Series([0,1,2,3], index = ['a','b', 'c', 'd'])
a_series,b_series

In [ ]:
d = {'one': a_series,
     'two': b_series}
df = pd.DataFrame(d)
# use NaN to fill in the missing value
# pandas convert all element to floating type
df

In [ ]:
# Slicing
print(pd.DataFrame(d, index = ['d', 'b', 'a'], columns = ['one']))
print(end_string)

# If we are extracting non-existing data, that would be NaN
print(pd.DataFrame(d, index = ['d', 'b', 'a', 'benson'], columns = ['two', 'benson']))


#Q: what's the problem of this slicing method?

# From dict of ndarray / lists
- The ndarrays must all be the same length.
- If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [ ]:
d = {'one' : [1., 2., 3., 4], 'two' : [4., 3., 2., 1.]}
pd.DataFrame(d)

# From a list of dicts

In [ ]:
data = []
for i in range(10):
    data += [ {'Column' + str(j):np.random.randint(100) for j in range(5)} ]
    # dictionary comprehension!
data

In [ ]:
# Creation from a list of dicts
df = pd.DataFrame(data)
print(df)

In [ ]:
# Only certain columns
df = pd.DataFrame(data, columns = ['Column0', 'Column1'])
df

In [ ]:
df.head(6) #print the first few rows, default = 5

## Attributes

- ``` df.index ``` : the row index of df
- ``` df.columns ``` : the columns of df
- ``` df.shape ``` : the shape of the df
- ``` df.values ``` : numpy array of values

In [ ]:
list(df.index)

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.values

In [ ]:
# Adding and accessing columns
d = {'one': pd.Series([1,2,3], index  = ['a', 'b', 'c']),
     'two': pd.Series(range(4), index = ['a','b', 'c', 'd'])}
df = pd.DataFrame(d)
df

In [ ]:
# math operation, like how we create data in the dictionary
df['three'] =  df['one']*df['two']
# # Create a boolean flag column
df['flag'] = df['one'] > 2
# # Create a const column
df['const'] = 'const_value'

df

In [ ]:
# inserting column in specified location index, with values
# insert at index 1, column named 'bar', with data df['two']
df.insert(2, 'bar', df['two'])
df

In [ ]:
# Deleting Columns  .pop()
three = df.pop('three')
df

In [ ]:
three

## Indexing and Selection

- 3 methods ``` [],  iloc, loc ```

| Operation  | Syntax       | Result |
|----|----------------------| ---------------------------|
| Select Column | df[col]   |    Series                      |
| Select Row by Label | df.loc[label] | Series  |
| Select Row by Integer Location | df.iloc[idx] |      Series                    |
| Slice rows | df[5:10]        |                        DataFrame  |
| Select rows by boolean | df[mask]   | DataFrame        |

- Note all the operations below are valid on series as well restricted to one dimension

## Selecting Cols form Of Indexing: []
- Series: selecting a label: s[label]
- DataFrame: selection single or multiple columns:
``` python
df['col'] or df[['col1', 'col2']] ```
- DataFrame: slicing the rows:
``` python
df['rowlabel1': 'rowlabel2'] ```
or
``` python
df[boolean_mask] ```

In [ ]:
# Lets create a data frame
pd.options.display.max_rows = 4
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
df

In [ ]:
# column  'A'
df['A']

In [ ]:
### You can also access a column by df.colname
df.A #same as df['A']

In [ ]:
# multiple column
df[['A', 'B']]

In [ ]:
df['A'] > df['B']

In [ ]:
# boolean mask
df[df['A'] > df['B']]

## Selecting rows by label .loc (Recommend)

- is primarily label based, but may also be used with a boolean array.
- .loc will raise KeyError when the items are not found
- Allowed inputs:
    1. A single label
    2. A list of labels
    3. A boolean array

In [ ]:
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 10)

In [ ]:
df

In [ ]:
df.head()

In [ ]:
## Selection by label .loc
df.loc['2000-01-01']

In [ ]:
## Selection by label .loc
df.loc['2000-01-01', 'A']

In [ ]:
# similar to numpy slicing by using labels
df.loc['2000-01-01':'2000-01-03', 'A':'C']

In [ ]:
df

In [ ]:
df.loc['2000-01-01'] > 0

In [ ]:
# Get columns for which value is greater than 0 on certain day, get all rows
df.loc[:, df.loc['2000-01-01'] > 0]

## Selecting rows by position

- The .iloc attribute is the primary access method. The following are valid input:
    - An integer
    - A list of integers
    - A slice
    - A boolean array

In [ ]:
df1 = pd.DataFrame(np.random.randn(6,4),
                   index=list(range(0,12,2)), columns=list(range(0,12,3)))

df1

In [ ]:
# rows 0-2
df1.loc[[0,2,4]]

In [ ]:
# rows 0-2
df1.iloc[:3]

In [ ]:
df1

In [ ]:
#  rows 1:5  and columns 2 : 4
df1.iloc[1:5, 2:4]

In [ ]:
# select via integer list
df1.iloc[[1,3,5], [1,3]]

In [ ]:
df1

In [ ]:
df1.iloc[:, 1]

In [ ]:
# selecting via integer mask
boolean_mask = df1.iloc[:, 1] > 0
print(boolean_mask.values)

df1.iloc[boolean_mask.values,:]

### Exercise （post-lecture)

Given the dataframe, find the following
- Last two rows of columns A and D
- Last three rows such which statisfy that column A > Column B

In [ ]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
df

In [ ]:
# YOUR SOLUTION HERE

# Merging DataFrames

- Pandas has full-featured, very high performance, in memory join operations that are very similar to SQL and R

- The documentation is https://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging

- Pandas provides a single function, merge, as the entry point for all standard database join operations between DataFrame objects:
``` python
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
left_index=False, right_index=False, sort=True) ```

The sequence of operations in a basic call to `pd.merge()` is:

1. Check all columns in `left` and `right`. Let S be the set of columns which are present in both
2. For every row of `left`, check if it has a corresponding row in `right` with the same values among the columns in S.
3. If two matching rows are found, merge the rows together in the natural way.

The `how` parameter determines how Pandas will deal with the rows that don't match.

In [ ]:
# Example of merge
left = pd.DataFrame({'key': ['benson', 'nikki'], 'lval_uid': [10, 11]})
right = pd.DataFrame({'key': ['benson', 'leo'], 'rval_score': [60, 90]})

print("left: ",left,"right: ",right, sep=end_string)

In [ ]:
merged = pd.merge(left, right, on=['key'], how="inner")
print(merged)
#inner ignores all rows in left which don't have a match in right (and vice versa)

In [ ]:
merged = pd.merge(left, right, on=['key'], how="outer")
print(merged)
#outer keeps all rows which don't have a match, filling missing entries with NaN

In [ ]:
merged = pd.merge(left, right,  on=['key'], how="left")
print(merged)
#left keeps all rows in `left` if they don't have a match, but ignores rows in right if they don't match

In [ ]:
merged = pd.merge(left, right,  on=['key'], how="right")
print(merged)
#right does the same thing as left but on the `right` df

`on_left` and `on_right` lets us merge based on columns which have different names in `left` and `right` (they need to be of the same type though)

## Execrise
Take a guess what would be the output here, and run the cell to validate your guess.

In [ ]:
left = pd.DataFrame({'key': ['test', 'test'], 'lval': [4, 2]})
print(left, end = end_string)
right = pd.DataFrame({'key': ['test', 'test'], 'rval': [4, 5]})
print(right, end = end_string)
pd.merge(left,right, on = ['key'])

## Function Application
 - Row or Column-wise Function Application: Applies function along input axis of DataFrame
```python
df.apply(func, axis = 0)
```
- apply() is used to apply a function along an axis of the DataFrame or on values of Series.
- applymap() is used to apply a function to a DataFrame elementwise.
- map() is used to substitute each value in a Series with another value.

In [ ]:
## APPLY EXAMPLES
df1 = pd.DataFrame(np.ones([6,4])*np.array([1,2,3,4]), index=list(range(0,12,2)), columns=list('abcd'))
df1

In [ ]:
# Apply to each column
df1.apply(np.sum, axis = 0)

In [ ]:
# Apply to each row
df1.apply(np.sum, axis = 1)

### Side note: lambda(anonymous) functions

lambda functions allow you to specify a function without giving it a separate declaration.  For example, the function
```python
lambda x: (x - x.mean())/x.std()
```
is equivalent to the function
```python
def normalize(x):
    return (x - x.mean())/x.std()
```
You'll often see lambda functions used in list comprehensions, or in methods (like `map()`, `apply()`, or `applymap()`) that take a function as input.

In [ ]:
df1

In [ ]:
def add_sum(x):
    return x + x.sum()
df1.apply(add_sum, axis = 0)

In [ ]:
# # Use lambda functions  to normalize columns
df1.apply(lambda x: x + x.sum(), axis = 0)

In [ ]:
l1 = [-1,2,3,4,5,62,8,1,-1]
l2 = [(1,2),(3,4),(-1,4),(4,6),(10,1)]

In [ ]:
sorted(l1)

In [ ]:
sorted(l2, key = lambda x: x[1])

## Execrise:
Say I wanted to find where the maximum dates occured for each column of the df. How can we do that?  
HINT: `.idxmax()` function for `pd.Series`

In [ ]:
## APPLY EXAMPLES CONT
# Create DF with 1000 rows and 3 columns filled with random entries
tsdf = pd.DataFrame(np.random.randn(1000, 3), columns=['A', 'B', 'C'],
                    index=pd.date_range('1/1/2000', periods=1000))

tsdf

In [ ]:
# YOUR SOLUTION HERE

# I/O Functions

- There are loads of input output features. The highlights most useful to you are likely:
    - ``` pd.read_csv ``` / ``` pd.to_csv ```
    - ``` pd.read_excel ``` / ``` pd.to_excel ```
    - ``` pd.read_sql ``` / ``` pd.to_sql ```
    - ``` pd.read_pickle ``` / ``` pd.to_pickle ```
Documentation:

* [Pandas Import-Output Functions](https://pandas.pydata.org/pandas-docs/stable/io.html)

### Loading data from CSV
Here are the first several lines of `iris.csv`:

```
sepal_length,sepal_width,petal_length,petal_width,name
5.1,3.5,1.4,0.2,setosa
4.9,3.0,1.4,0.2,setosa
4.7,3.2,1.3,0.2,setosa
4.6,3.1,1.5,0.2,setosa
5.0,3.6,1.4,0.2,setosa
5.4,3.9,1.7,0.4,setosa
```

In [ ]:
import pandas as pd
# Can use df.info to find out information about the df
iris_data = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv')
iris_data

In [ ]:
#iris_data = pd.read_csv('./data/iris.csv')
iris_data.info()

In [ ]:
# describe and stats summarize the dataframe
iris_data.describe()

## The split/apply combo (groupyby)
- pandas objects can be split on any of their axes. The abstract definition of grouping is to provide a mapping of labels to group names:
- Syntax:  
    - ``` groups = df.groupby(key) ```
    - ``` groups = df.groupby(key, axis = 1) ```
    - ``` groups = df.groupby([key1, key2], axis = 1) ```


- The group by concept is that we want to apply the same function on subsets of the dataframe, based on some key we use to split the DataFrame into subsets
- This idea is referred to as the "split-apply-combine" operation:
    - Split the data into groups based on some criteria
    - Apply a function to each group independently
    - Combine the results

![image](https://i.stack.imgur.com/sgCn1.jpg)

In [ ]:
df = pd.DataFrame({'key':['A','B','C','A','B','C','A','B','C'],
                   'data': [0, 5, 10, 5, 10, 15, 10, 15, 20]})
df

In [ ]:
g = df.groupby('key')
g

In [ ]:
g.agg(['min'])

In [ ]:
g.agg(['max','sum'])

In [ ]:
sums = df.groupby('key').agg(['min', 'max', 'sum'])
sums

In [ ]:
customize = df.groupby('key').apply(lambda x: x.sum() + 0.1)
customize

# Plotting data : [Chart visualization](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html) (Optional)

- The plot method on Series and DataFrame is just a wrapper on matplotlib plt.plot()
- Many available plots:
    - ‘bar’ or ‘barh’ for bar plots
    - ‘hist’ for histogram
    - ‘box’ for boxplot
    - ‘kde’ or 'density' for density plots • ‘area’ for area plots
    - ‘scatter’ for scatter plots
    - ‘hexbin’ for hexagonal bin plots • ‘pie’ for pie plots
    
- There are several more complex plotting functions in pandas.tools.plotting that take a Series or DataFrame as an argument. These include:
    - Scatter matrices
    - Autocorrelation
    - Bootstrap Plot

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
iris_data

In [ ]:
iris_data.plot(); #plot all the numeric data

In [ ]:
## Quick example - Random walks
df = pd.DataFrame(np.random.randn(1000, 4),
                  index =pd.date_range('1/1/2000', periods=1000),
                  columns=list('ABCD'))
df = df.cumsum()
print(df)
df.plot()

In [ ]:
plt.figure()
df.iloc[5].plot(kind = 'bar')
plt.axhline(0, color = 'g')

In [ ]:
#data = pd.read_csv('./data/iris.csv')
ax = iris_data.groupby('species') \
         .get_group('setosa') \
         .boxplot(column=["sepal_length","sepal_width"], return_type='axes')