<a href="https://colab.research.google.com/github/lreeder7/CME193_lectures/blob/main/lectures/Lecture_1_post.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summary of today:
1. Intro to CME 193
2. Python Foundations
   * Variables
   * Operators
   * Strings
   * Control Flow
   * Exceptions
   * Functions
   * Collections

# CME 193 - Introduction to Scientific Python


## Course Logistics

**Instructor:**  Leah (Reeder) Collis (lcollis@stanford.edu)

**Course website:** [cme193.stanford.edu](http://cme193.stanford.edu).
Please check there for any materials related for the course (and let me know if something needs to be updated).

**Class:** This course has a relatively fast pace. It is advantageous to preview the basic sections before future classes so you can absorb as much as possible during the 50 min lecture. Each class we will go over the lecture notebooks and will work through some examples together. Some weeks will have post-lecture exercises, which are good to make sure you have learned the weeks material. You aren't required to submit solutions to these, so you can focus on ones you find most interesting. If you get stuck, you can ask questions about them in office hours.

**Homework:** We'll have 2 homeworks, which should not be difficult or time consuming, but a chance to practice what we cover in class. Feel free to discuss the problems with other students in the class, but the final code you submit should be written by you. You will have 2 weeks to complete each of them.

**Grading:** This class is offered on a credit/no-credit basis.  Really, you're going to get out of it what you put into it.  My assumption is that you are taking the course because you see it as relevant to your education, and will try to learn material that you see as most important.

**Office hours:** Wednesdays from 1pm - 3pm in Huang basement (tables outside of ICME).

# Overview of Course

You can find a list of topics we plan to cover on the [course website](http://web.stanford.edu/class/cme193/syllabus.html).  

Here is a tentative list of lectures:
1. Python basics
1. Python Class & Object
1. Linear algebra (NumPy)
1. Numerical algorithms (NumPy)
1. Scientific computing (SciPy)
1. Data science (Pandas)
1. Machine learning (scikit-learn)
1. Deep learning (PyTorch)

The goal of the course is to get you started with using Python for scientific computing.
* We **are** going to cover common packages for linear algebra, optimization, and data science
* We are **not** going to cover all of the Python language, or all of its applications
    * We will cover aspects of the Python language as they are needed for our purposes

This course is designed for
* People who already know how to program (maybe not in Python)
* People who want to use Python for research/coursework in a scientific or engineering discipline for modeling, simulations, or data science

You don't need to have an expert background in programming or scientific computing to take this course.  Everyone starts somewhere, and if your interests are aligned with the goals of the course you should be okay.

## Class lectures and homeworks: Jupyter notebooks
For lectures and homeworks, we are using Jupyter notebooks. Check the webpage for more information on how to get started with these. You can download/run them locally to your own computer, you can run them on Rice, or you can use Google Colab. Any of these methods work and are completely up to you!

More information about computing at Stanford can be found [here](https://github.com/lreeder7/ICME_Computing_Refresher_2023/blob/master/computingAtStanford.md).
Lectures will be available to download on the course website, but are also updated on my own github repository (lreeder7/CME193_lectures) for those of you that use it.

# Python

In [1]:
print("Hello, world!")

Hello, world!

In [2]:
# print value of pi : I am a comment using hash mark
# The pi (Ï€ ) is a constant of the math library in Python that returns the value 3.14...
import math
print(math.pi)

3.141592653589793

# Basic Section (Start)

## Variables

One of the main differences in python compared to other languages you might be familiar with is that variables are not declared and are not strongly typed

In [3]:
x = 1
print(x)

1

In [4]:
x = 1
print(type(x))

<class 'int'>

In [5]:
x = 1.0
print(x)
print(type(x))

x = 'string' #same as "string" #pound sign is for comments
print(x)
print(type(x))

1.0
<class 'float'>
string
<class 'str'>

In [6]:
x

'string'

In [7]:
from IPython.display import display
display(x)

'string'

## Basic Arithmetic

Math Operators:
`+ - * / // % **`

Boolean expressions:
* keywords: `True` and `False` (note capitalization)
  - False = 0, True = 1
* `==` equals: `5 == 5` yields `True`
* `!=` does not equal: `5 != 5` yields `False`
* `>` greater than: `5 > 4` yields `True`
* `>=` greater than or equal: `5 >= 5` yields `True`
* Similarly, we have `<` and `<=`.

Logical operators:
* `and`, `or`, and `not`
* `True and False`
* `True or False`
* `not True`

In [9]:
# Dividing 0 is an error
4 / 2

2.0

In [10]:
#The result of regular division is always a float
type(4/2)

float

In [11]:
type(5//3) #Floor division =1

int

In [12]:
type(5.0//3) #Floor division =1.0

float

In [13]:
5%3 #Modulus

2

In [14]:
4**3 #Exponentiation

64

In [15]:
# == to check if the values match
x = 5.0
y = 5

x == y

True

In [16]:
print(type(x), type(y))

<class 'float'> <class 'int'>

In [17]:
x = 5.0
y = 5
print("x == y: " + str(x == y))
print("x is y: " + str(x is y))

#== checks for equality - if the two variables point at values are equal.
#is checks for identity - if the two variables point to the exact same object.

x == y: True
x is y: False

In [18]:
s = "example"
answer = 'example'

print("s == 'example': " + str(s == answer))
print("s is 'example': " + str(s is answer))

s == 'example': True
s is 'example': True

In [19]:
True or False # some other language use '&' for 'and', '|' for 'or', '!' for 'not': NOT IN PYTHON

True

In [20]:
not True

False

In [21]:
not 5 == 5.0 #equivalent to 5 != 5.0

False

## Strings

Concatenation: `str1 + str2`

Printing: `print(str1)`

In [22]:
1 + 1

2

In [23]:
str1 = "Alice's numbers are 20 and 52, "
str2 = "and their sum is 72"
str3 = str1 + str2
str3

"Alice's numbers are 20 and 52, and their sum is 72"

String Formatting:

In [24]:
# f-string (pyhton == ^3.6)

x = 21414
y = 52
name = "Alice's friend"

#f-string
str1 = f"{name}'s numbers are {x} and {y}, "
str2 = f"and their sum is {x + y}"
str3 = str1 + str2
str3

"Alice's friend's numbers are 21414 and 52, and their sum is 21466"

In [49]:
print("Hello", name, x, y, x , y)

Hello Alice's friend 5 4 5 4

(Optional) Old School String Format

In [25]:
str1 = "a: %s" % "string"
print(str1)
str2 = "b: %f, %s, %d" % (1.0, 'hello', 5)
print(str2)
str3 = "c: {}".format(3.14)
print(str3)

a: string
b: 1.000000, hello, 5
c: 3.14

In [26]:
# some methods
str1 = "Hello, World!"
print(str1)
print(str1.upper())
print(str1.lower())

Hello, World!
HELLO, WORLD!
hello, world!

In [27]:
str1

'Hello, World!'

In [28]:
str1 = str1.lower()
str1

'hello, world!'

In [29]:
str1.replace?

In [30]:
str1.replace('l', 'p')

'heppo, worpd!'

## Control Flow

If statements:  
if decides whether certain statements need to be executed or not. It checks for a given condition
```python
if condition1:
  statements1
elif condition2:
  statements2
elif condition3:
  statements3
else:
  statements4
```

In [33]:
x = 5
y = 4

if x == y:
    print("The value of x is the same as value of y")
elif x == 3:
    print("I am here")
    print("x is 3")
else:
    print("x is something else")

x is something else

**For loops**  

control flow statement for specifying iteration, which allows code to be executed repeatedly

In [35]:
for i in range(4): # default - start at 0, increment by 1
    print(f"{i}, next loop")

0, next loop
1, next loop
2, next loop
3, next loop

In [34]:
?range

In [36]:
for i in range(10, 2, -2): # inputs are start, stop, step
    print(i)

10
8
6
4

**while loops**

In [37]:
# Find all positive integer whose square < 100
i = 1
while i**2 < 100:
    print(i)
    i += 1      #i += 1 is the same as i = i + 1
print("Finished")

1
2
3
4
5
6
7
8
9
Finished

**continue** - skip the rest of the loop

**break** - exit from the loop

In [38]:
# distinguish even or odd number
for num in range(1, 10):
    if num % 2 == 0:
        print(f'Found {num}, an even number, Continue!')
        continue # this jumps us back to the top

    print(f"Found {num}, an odd number")

print('Finished')

Found 1, an odd number
Found 2, an even number, Continue!
Found 3, an odd number
Found 4, an even number, Continue!
Found 5, an odd number
Found 6, an even number, Continue!
Found 7, an odd number
Found 8, an even number, Continue!
Found 9, an odd number
Finished

In [39]:
for num in range(1, 10):
    if num % 2 == 0: # if n divisible by x
        print(f'Found {num}, an even number, BREAK!')
        break
    print(f"Found {num}, an odd number")
print('Finished')

Found 1, an odd number
Found 2, an even number, BREAK!
Finished

In [50]:
#continue/break statement only continue/breaks its cloest loop statement
for i in range(3):
    print(f"Outer {i}")
    for j in range(3):
      print(f"   Inner : {j}")
      #continue
      break
      print('     I am j')
    break
    print("End of inner loop")
    #jump to here after break

Outer 0
   Inner : 0

**pass** does nothing

In [47]:
#The pass statement is used as a placeholder for future code!!
for num in range(7):
    if num == 5:
        #TODO: Add more code for the case num = 5
        pass
    print(f'Iteration: {num}')

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6

# Basic Section (End)

# [Exceptions](https://docs.python.org/3/library/exceptions.html)

In [51]:
print(100 / 0)

print(100 / 10)

ZeroDivisionError: division by zero

In [53]:
try:
    print(100 / 0)
except ZeroDivisionError:
    print("Error: don't divided by zero")
except Exception as e:
    print(f"Other Error: {e}")

print(100/10)

Other Error: unsupported operand type(s) for /: 'int' and 'str'
10.0

# Functions

Functions are declared with the keyword `def`

In [55]:
# def tells python you're trying to declare a function
def triangle_area(base, height):
    #here are operations
    #part of function
    #etc
    return 0.5 * base * height

triangle_area(-1, 2)

-1.0

In [57]:
def triangle_area(base, height):
    if base < 0 or height < 0:
        raise ValueError("Base and height must be non-negative")
    return 0.5 * base * height

triangle_area(1, 2)

1.0

In [58]:
triangle_area('string', 2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [59]:
# add type hint
def triangle_area(base: int, height: int):
    try:
      if base < 0 or height < 0:
          raise ValueError("Base and height must be non-negative")
      return 0.5 * base * height
    except ValueError as error:
      print(f"Error, {error}, Try a different value")
    except Exception as e:
      print(f"Error, {e}")

triangle_area(1, 2)

1.0

In [60]:
triangle_area('string', 2)

Error, '<' not supported between instances of 'str' and 'int'

(Add-on: )
1. Function can have multiple outputs
2. Function input can also be a function
3. Function input can have default values

In [61]:
# return multiple outputs
def simple(a,b):
    return a,b
simple(1,2)

(1, 2)

In [62]:
x,y = simple(1,2)
print(x)
print(y)

1
2

In [63]:
# everything in python is an object, and can be passed into a function
def f(x):
    return x+2

def twice(g,x):
    return g(g(x))

twice(f,2) # + 4

6

In [64]:
def n_apply(f, x, n):
    """applies f to x n times"""
    for _ in range(n):  # _ is dummy variable in iteration
        x = f(x)
    return x

n_apply(f, 1, 5) # 1 + 2*5

11

In [65]:
def g(a, x, b = 0):
    return a * x + b

In [66]:
g(1, 1)

1

In [68]:
def h(a, b, x = 3, y = 2):
    return a * x + b * y

In [69]:
h(1, 1, y=1) # equivalent to h(1, 1, 3, 1)

4

# Exercise 1

(10 minutes)

1. Print every power of 2 less than 10,000
2. Write a function that takes two inputs, $a$ and $b$ and returns the value of $a+2b$
3. Write a function takes a number $n$ as input, and prints all [Fibonacci numbers](https://en.wikipedia.org/wiki/Fibonacci_number) less than $n$

In [97]:
# YOUR CODE HERE
# 1.
i = 0
while 2**i < 10000:
  print(2**i)
  i += 1

print("Finished")

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
Finished

In [99]:
# YOUR CODE HERE

# 2.

def f(a, b):
  return a + 2*b

f(1, 2)

5

In [102]:
# YOUR CODE HERE

# 3.

def fibonacci(n):
  a = 0
  b = 1
  print(a)
  print(b)
  count = a + b
  while count < n:
    print(count)
    a = b
    b = count
    count = a + b

  return

fibonacci(100)

0
1
1
2
3
5
8
13
21
34
55
89

# Lists

A list in Python is an ordered (or indexed) collection of objects

In [73]:
# can be heterogeneous types
a = ['x', 1, 3.5]
print(a)
a[-1]

['x', 1, 3.5]

3.5

You can iterate over lists in a very natural way

In [74]:
for word in a:
    print(word)

x
1
3.5

Python indexing starts at 0.

In [75]:
# mutable
a[1] = "overwritten"
a

['x', 'overwritten', 3.5]

In [76]:
#can even put functions and other lists inside of lists!
def f(x):
    return x

b = [f, [1,2,2.1]]
print(b)

[<function f at 0x7ca87b10fd90>, [1, 2, 2.1]]

You can `append` method to `lists` class using `.append()` after a object, and do other operations, such as `pop()`, `insert()`, etc.

Python terminology:
* a list is a "class"
* the variable `a` is an object, or instance of the class
* `append()` is a method

In [77]:
a = []
for i in range(10):
    a.append(i)
    print(a)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
while len(a) > 0:
    elt = a.pop()
    print(f"Removed {elt}, a is now {a}")

Removed 9, a is now [0, 1, 2, 3, 4, 5, 6, 7, 8]
Removed 8, a is now [0, 1, 2, 3, 4, 5, 6, 7]
Removed 7, a is now [0, 1, 2, 3, 4, 5, 6]
Removed 6, a is now [0, 1, 2, 3, 4, 5]
Removed 5, a is now [0, 1, 2, 3, 4]
Removed 4, a is now [0, 1, 2, 3]
Removed 3, a is now [0, 1, 2]
Removed 2, a is now [0, 1]
Removed 1, a is now [0]
Removed 0, a is now []

 (Add-on):
1. How to insert an element at a specific index of list
2. How to append all element in a list into another list

In [80]:
# Insert a value at a specific index
a = [1,2,3]
a.insert(1,'new value')
print(a)

[1, 'new value', 2, 3]

In [81]:
a = [1,2,3]
b = ["x", "y"]
a.append(b)
a

[1, 2, 3, ['x', 'y']]

In [82]:
# Append all element inside a list into another list
a = [1,2,3]
b = ["x", "y"]
a.extend(b) #same as a+b
print(a)

[1, 2, 3, 'x', 'y']

In [83]:
a = [1,2,3]
b = ["x", "y"]
a+b
# looks like string concatenation? We are going to talk more in 2nd lecture about OOP

[1, 2, 3, 'x', 'y']

Lists in python are only implicitly collections of the objects that constitute them. Setting one array equal to another can lead to unexpected results:

In [85]:
a = [1, 2, 3]
b = a.copy() # shallow .deepcopy()
#b = a
print(f"original a:, {a}")
print(f"original b:, {b}")
b[0] = "edited"
print("after edit...")
print(f"a:, {a}")
print(f"b:, {b}")

original a:, [1, 2, 3]
original b:, [1, 2, 3]
after edit...
a:, [1, 2, 3]
b:, ['edited', 2, 3]

In [ ]:
a.copy?

A list only stores some pointers to locations in your computer's memory: when we wrote `b = a` Python created a new list `b` which shares its entries with `a`.

The function `.copy()` will create a completely distinct copy with new objects.

## List Comprehensions

Python's list comprehensions let you create lists in a way that is reminiscent of set notation

$$ S = \{ x^2 ~\mid~ 0 \le x \le 20, x\mod 3 = 0\}$$

In [86]:
S= []
for x in range(21):
    if x % 3 == 0:
        S.append(x**2)
S

[0, 9, 36, 81, 144, 225, 324]

Syntax is generally
```python3
S = [<element> <for statement> <conditional>]
```

In [87]:
S = [x**2 for x in range(21) if x % 3 == 0]
S

[0, 9, 36, 81, 144, 225, 324]

(Self-study)Try yourself with nested for loop~

In [88]:
S = []
for i in range(2):
    for j in range(2):
        for k in range(2):
            if (i + j + k)%2 == 0:
                S += [[i,j,k]]

S

[[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 0]]

In [89]:
# you aren't restricted to a single for loop
S = [[i,j,k] for i in range(2) for j in range(2) for k in range(2) if (i + j + k)%2 == 0]
S

[[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 0]]

In [90]:
# you aren't restricted to a single if statement : Ternary operation
# s1 if c1 else c2
['yes' if v == 1 else 'no' if v == 2 else 'idle' for v in [1,2,3]]

['yes', 'no', 'idle']

# Other Collections

We've seen the `list` class, which is ordered/indexed, and mutable.  There are other Python collections that you may find useful:
* `tuple` which is ordered/indexed, and immutable
* `set` which is unordered/unindexed, mutable, and doesn't allow for duplicate elements
* `dict` (dictionary), paired, which is unordered/unindexed, and mutable, with no duplicate keys.

In [91]:
a_tuple = (1, 2, 4)
print(a_tuple)
a_tuple[0] = 1

(1, 2, 4)

TypeError: 'tuple' object does not support item assignment

In [92]:
a_set = {5, 3, 2, 5.0}
print(a_set)
print(a_set[0])

{2, 3, 5}

TypeError: 'set' object is not subscriptable

In [93]:
a_set.add(6) #you can also add all element in a list by using .update()
print(f"After adding 6,   a_set:{a_set}")
a_set.remove(6) #you can also add all element in a list by using minues operator
print(f"After removing 6, a_set:{a_set}")

After adding 6,   a_set:{2, 3, 5, 6}
After removing 6, a_set:{2, 3, 5}

In [94]:
a_dict = {} # {key0: value0, key1: value1}
a_dict[2] = 12 # dict[key] = value
a_dict["key_2"] = 'str'
a_dict["key_3"] = [13, "value"]
a_dict

{2: 12, 'key_2': 'str', 'key_3': [13, 'value']}

In [96]:
print(a_dict[2])
print(a_dict.get(2))

12
12

In [95]:
a_dict_copy = {2: 'new value', 'key_2': 28, 'key_3': [13, 'value']}
a_dict_copy

{2: 'new value', 'key_2': 28, 'key_3': [13, 'value']}

(Optional) More Advanced Collections in Python
* [`OrderedDict`](https://docs.python.org/3/library/collections.html#ordereddict-objects) Dict ordered by keys
* [`deque`](https://docs.python.org/3/library/collections.html#deque-objects): double-ended queue (generalization of stack and queue)
* [`heapq`](https://docs.python.org/3/library/heapq.html) Priority Queue

# Exercise 2

**Lists**
1. Create a list `['a', 'b', 'c']`
2. use the `insert()` method to put the element `'d'` at index 1
3. use the `remove()` method to delete the element `'b'` in the list

**List comprehensions**
1. What does the following list contain?
```python
X = [i for i in range(100)]
```
2. Interpret the following set as a list comprehension:
$S_1 = \{x\in X \mid x\mod 5 = 2\}$
3. Intepret the following set as a list comprehension: $S_2 = \{x \in S_1 \mid x \text{ is even}\}$
4. generate the set of all tuples $(x,y)$ where $x\in S_1$, $y\in S_2$.

**Other Collections**
1. Try creating another type of collection
2. try iterating over it.

In [103]:
l = ['a', 'b', 'c']
print(l)
l.insert(1, 'd')
print(l)
l.remove('b')
print(l)

['a', 'b', 'c']
['a', 'd', 'b', 'c']
['a', 'd', 'c']

In [104]:
X = [i for i in range(100)] # contains numbers from 0 to 99
print(X)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [106]:
S1 = [x for x in X if x % 5 == 2]
print(S1)

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97]

In [108]:
S2 = [x for x in S1 if x % 2 == 0]
print(S2)

[2, 12, 22, 32, 42, 52, 62, 72, 82, 92]

In [110]:
set_tuples = {(x, y) for x in S1 for y in S2}
print(set_tuples)

{(7, 72), (97, 72), (62, 72), (72, 82), (47, 62), (42, 2), (17, 12), (2, 2), (57, 2), (32, 12), (37, 42), (92, 42), (12, 52), (72, 2), (67, 52), (42, 32), (77, 62), (52, 42), (27, 52), (82, 22), (2, 32), (87, 82), (7, 92), (62, 92), (37, 72), (92, 72), (47, 82), (22, 92), (77, 92), (32, 32), (87, 2), (7, 12), (62, 12), (72, 22), (47, 2), (42, 52), (22, 12), (17, 62), (77, 12), (27, 72), (82, 42), (2, 52), (57, 52), (32, 62), (37, 92), (97, 42), (92, 92), (72, 52), (42, 82), (52, 92), (82, 72), (62, 32), (37, 12), (92, 12), (12, 22), (67, 22), (22, 32), (17, 82), (77, 32), (52, 12), (27, 22), (57, 72), (32, 82), (87, 52), (7, 62), (62, 62), (72, 72), (47, 52), (22, 62), (82, 92), (17, 2), (97, 92), (32, 2), (92, 32), (12, 42), (67, 42), (42, 22), (52, 32), (17, 32), (27, 42), (82, 12), (2, 22), (57, 22), (7, 82), (62, 82), (37, 62), (97, 12), (92, 62), (47, 72), (12, 72), (67, 72), (22, 82), (77, 82), (52, 62), (87, 62), (7, 2), (62, 2), (42, 42), (22, 2), (17, 52), (77, 2), (82, 32), (2, 42), (57, 42), (32, 52), (87, 22), (7, 32), (97, 32), (92, 82), (12, 92), (72, 42), (47, 22), (67, 92), (42, 72), (52, 82), (27, 92), (82, 62), (2, 72), (97, 62), (37, 2), (92, 2), (12, 12), (67, 12), (77, 22), (52, 2), (27, 12), (32, 72), (87, 42), (7, 52), (62, 52), (37, 32), (72, 62), (47, 42), (42, 92), (22, 52), (77, 52), (82, 82), (2, 92), (57, 92), (87, 72), (97, 82), (72, 92), (67, 32), (42, 12), (17, 22), (27, 32), (82, 2), (2, 12), (57, 12), (32, 22), (37, 52), (97, 2), (92, 52), (12, 62), (72, 12), (67, 62), (22, 72), (77, 72), (52, 52), (27, 62), (87, 92), (37, 82), (47, 92), (17, 42), (57, 32), (32, 42), (87, 12), (7, 22), (97, 22), (62, 22), (12, 82), (72, 32), (47, 12), (67, 82), (42, 62), (22, 22), (52, 72), (17, 72), (27, 82), (82, 52), (2, 62), (57, 62), (97, 52), (12, 2), (67, 2), (27, 2), (87, 32), (7, 42), (62, 42), (37, 22), (92, 22), (47, 32), (12, 32), (22, 42), (17, 92), (77, 42), (52, 22), (2, 82), (57, 82), (32, 92)}

In [111]:
d = {0:'a', 1:'b', 2:'c', 3:'d'}
for key in d.keys():
  print("key:", key, "val:", d[key])

key: 0 val: a
key: 1 val: b
key: 2 val: c
key: 3 val: d